/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
    margin: 0;
    padding: 0;
} 

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


nav ul {
  display: flex;
	flex-direction: row;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li :hover {
  background-color: #737272; /* Change background color on hover */
}
p{
  font-size: 18px;
  line-height: 1.5; 
}

nav ul li {
  font-size: larger;
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 0px 15px;
}

main {
  padding: 20px;
  flex: 1;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.engine-buttons {
  display: flex;
  size: 50px;
}

.engine-buttons button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0; /* Remove button edges */
  padding: 15px 20px; /* Add padding for better appearance */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.engine-buttons button:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}

.engine-title {
  text-align: center; /* Align title to center */
  font-size: 2em; /* Twice as big font size */
}

.engine-image {
  display: block; /* Center image */
  margin: 0 auto;
  width: 200px; /* Twice as big width */
}

.engine-description {
  line-height: 1.5;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  } 
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
}
